.app {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.input {
  width: 350px;
  height: 30px;
  font-size: 20px;
  padding: 8px 16px;
  background: #43d1e1;
  border-radius: 16px 16px 0 0;
  border: 2px solid #61dafb;
  border-bottom: unset;
}

.selected {
  border-radius: 16px;
  border-bottom: 2px solid #61dafb;
}

.selected + .users-list-wrapper {
  border: unset;
}

.input:focus-visible {
  border: 2px solid #d37edc;
  border-bottom: unset;
  outline: unset;
}

.input.selected:focus-visible {
  border-bottom: 2px solid #d37edc;
}

.users-list-wrapper {
  width: 381px;
  padding: 0;
  max-height: 180px;
  margin: 0;
  list-style: none;
  background-color: aliceblue;
  overflow-y: auto;
  border-radius: 0 0 16px 16px;
  border: 2px solid #61dafb;
  border-top: unset;
}

.user-item {
  padding: 4px 8px;
}

.user-item:hover {
  background-color: #5d81a1;
}
